    <div class='linea'>
        <div class='id'><%= user.id %></div>
        <div class='name'><input type='text' name='name' value='<%= user.name %>' placeholder='Nombre del usuario'/></div>
        <div class='email'><input type='text' name='email' value='<%= user.email %>' placeholder='Email del usuario'/></div>
    </div>
    <input type="submit" value="Guardar">